/* ==========================================================================
   -- Reset
   ========================================================================== */
   
body
section
nav
aside
menu
header
footer
article
h1
h2
h3
h4
h5
h6
p
div
span
a
input
fieldset
	position relative
	line-height 1em
	font-weight normal
	margin 0 auto
	padding 0
	display block
	font-family arial

html
body
	height 100%

a:link
a:visited
a:active
	text-decoration none
	color inherit

a
	display block

ul
li
	position relative
	list-style none
	margin 0
	padding 0

li
	float left

.size
	width 1000px
	transitions(width 0.5s)