/* ==========================================================================
   -- Coleção Interna | 1200px
   ========================================================================== */

section#collection_inner
	.top
		width 1000px
		height 400px
		margin auto

		.left
			height @height

			.logo
				width 164px
				height 38px
				top 34px

			.image_wrapper
				width 650px
				height @height

		.right
			height @height

			padding-top 34px
			padding-left 34px

			a
				margin-bottom 16px

				i
					margin-right 7px

				span
					font-size 20px

			p
				font-size 16px
				margin-bottom 30px

				span
					font-size 24px


			.button_wrapper
				margin-top 30px
				padding 14px 34px
				border-width 3px

				a
					margin-top 0
					padding 0

					span
						font-size 24px
						margin-right 10px

					i
						font-size 20px

				a
					span:nth-of-type(1)
						span:nth-of-type(1)
							margin-right 8px
	.bottom
		height 130px

		.bottom_wrapper
			background white
			height 130px
			width 1000px
			margin auto

			.left
				.wrapper
					height @height

					h3
						padding-left 34px

						span
							font-size 24px
							line-height 28px

			.right
				padding-top 10px

				ul
					height 110px

					li
						height 110px
						width 200px

						.wrapper
							height @height
							width @width
