/* ==========================================================================
   -- Coleção Lista | 1200px
   ========================================================================== */

section#collection_list
	ul
		background-color gray

		li
			height 336px

			.left
			.right
				height @height

			.right
				.wrapper
					height @height
					width 33.2vw

					h2
						font-size 36px
						margin-bottom 15px

					span
						font-size 22px
						line-height 26px

					.button_wrapper
						a
							margin-top 30px
							padding 14px 34px
							border-width 3px

							span
								font-size 24px
								margin-right 10px

							i
								font-size 20px
