/* ==========================================================================
   -- Coleção | 1200px
   ========================================================================== */

section#colecao
	.intro
		height 334px
		background-color gray

		.left
			height @height

		.right
			height @height

			.wrapper
				height @height

				h2
					font-size 36px
					margin-bottom 15px

				span
					font-size 22px
					line-height 26px

	ul.category_list
		background-color white

		li
			a
				.details
					.wrapper
						span:nth-of-type(1)
							span
								font-size 26px
								margin-right 5px
