/* ==========================================================================
   -- Footer | 1200px
   ========================================================================== */

footer.root
	padding 0 34px
	height 104px

	.social
		margin-right 25px

		a
			i
				line-height @height
				font-size 35px

		a:nth-of-type(1)
			i
				margin-right 17px

	.copyright
		margin-right 10px

		span
			line-height @height
			font-size 16px

	.phone
		i
			line-height @height
			font-size 18px
			margin-right 5px

		span
			line-height @height
			font-size 16px

	.pronexo
		width 94px
		height @height

		a
			width 94px
			height 21px
