/* ==========================================================================
   -- Home | 1200px
   ========================================================================== */

section#home
	.intro_banner
		.top
			height 560px

			.right
				width 100%
				height @height

				#banner_three
					ul

						.owl-controls
							bottom 30px

						li
							.wrapper
								width 100vw
								height @height

							span
								font-size 46px

							.button_wrapper
								a
									margin-top 30px
									padding 14px 34px
									border-width 3px

									span
										font-size 24px
										margin-right 10px

									i
										font-size 20px

			.left
				display none

		.bottom
			height 334px
			display flex

			#banner_four
				width 66%
				order 2

				ul
					li
						.text_box_wrapper
							margin-right 0

							.text_box
								height @height

								span:nth-of-type(1)
									font-size 33px

								span:nth-of-type(2)
									font-size 67px

								.button_wrapper
									margin-top 30px
									padding 14px 34px
									border-width 3px

									a
										margin-top 0
										padding 0

										span
											font-size 24px
											margin-right 10px

										i
											font-size 20px

			#banner_five
				width 34%
				order 1
				display none

			#banner_six
				width 34vw
				height 334px
				display block

				ul
					li
						.wrapper
							width @width
							height @height

							span
								text-align left
								font-size 33px
