/* ==========================================================================
   -- Institucional | 1200px
   ========================================================================== */

section#institucional
	.content
		width 1000px
		padding 60px 0

		.left
		.right
			h3
				font-size 24px
				line-height 28px
				margin-bottom 30px

			p
				font-size 22px
				line-height 28px
				margin-bottom 60px

		.left
			.logo_wrapper
				width 100%
				height auto
				margin-bottom 60px

				h1
					width (476px/1.75)
					height (209px/1.75)
					position relative
					float left
					top initial
					left initial
