/* ==========================================================================
   -- Tecnologia | 1200px
   ========================================================================== */

body
	#app
		.template
			section#tecnologia
				.content
					width 1000px
					margin auto
					padding 60px 34px

					p
						font-size 22px
						line-height 26px
						margin-bottom 60px

					ul.tec_list > li:nth-of-type(odd)
						padding-right 30px

					ul.tec_list > li:nth-of-type(even)
						padding-left 30px

					ul.tec_list > li
						.image_wrapper
							width 350px
							height 165px
							margin-bottom 36px

						h3
							font-size 24px
							line-height 28px
							margin-bottom 36px

						ul
							li
								i
									font-size 7px
									line-height 30px
									margin-right 10px

								span
									font-size 22px
									line-height 30px
