/* ==========================================================================
   -- Erro_404
   ========================================================================== */
   
section#erro_404
	height 100%

	.align
		position fixed
		width 100%
		height 24.5vw
		top 0
		bottom 0
		left 0
		margin auto

		h4
			font-family fontThree
			color light_blue
			font-size 7.9vw
			text-align center
			
		span
			font-size 4.5vw
			font-family fontOne
			color white
			text-align center
			
		.button_wrapper
			margin-top 5.5vw

			a
				home_banner_button()