/* ==========================================================================
   -- Collection_inner | 680px
   ========================================================================== */
   
section#collection_inner 
	.top 
		height auto
		
		.right
			width 100%
			height auto
			padding 30px 20px
			
			a
				margin-bottom 20px
				width 100%
					
				i
				span
					font-size 20px
					line-height normal
					
				span
					padding-left 6px
					
			p
				width 100%
				margin-bottom 0
				
				span
					font-size 16px
					line-height normal
			
			.button_wrapper		
			.button_wrapper.green
				border-radius(6px)
				width 178px
				padding 10px 20px
				border-width 3px
				margin-bottom 0
				
				a
					text-align center
					
					span
						font-size 18px
						line-height normal
						margin-right 6px
						padding 0
						
					i
						font-size 16px
						margin-right 0
						
			.button_wrapper:not(.green)
				margin-top 10px
				padding 10px 40px

		.left
			width 100%
			display table
			
			.logo
				width 141px
				height 33px
				top -61px
			
			.image_wrapper
				width 100vw
				height 160px
				
				img
					min-height 100%
					max-height 100%
					
	.bottom 
		box-sizing()
		padding 20px
		height auto

		.left
			width 100%
			margin-bottom 20px
			
			.wrapper
				width 100vw
				height auto

				h3 
					span
						font-size 20px
						line-height normal

						br
							display none
			
		.right
			width 100%
			
			ul 
				height 120px

				li 
					width 42vw
					height @height
					
					.wrapper 
						width @width
						height @height