/* ==========================================================================
   -- Collection_list | 680px
   ========================================================================== */
   
section#collection_list
	ul
		li
			.right
				background-color gray

				.wrapper
					box-sizing()
					padding 0 6px

					h2
						font-size 4vw
						line-height normal

					span
						font-size 10px
						line-height normal
						text-align center
						display none

					.button_wrapper
						margin-top 10px
						padding 4px 10px
						border-width 2px
						
						a
							margin-top 0
							padding 0
							border-bottom 0
							
							span
								font-size 14px
								margin-right 6px
								
							i
								font-size 12px
							