/* ==========================================================================
   -- Contato | 680px
   ========================================================================== */

body
	#app
		.template
			section#contato
				.content
					padding 30px 20px
						
					h3
						font-size 20px
						line-height normal
						margin-bottom 20px
						
					p
						float left
						font-size 15px
						line-height normal
						
					form
						float left
						
						input
						select
						textarea
							height 30px
							font-size 15px
							line-height @height
							padding 0 10px
							margin-bottom 10px
							
						textarea
							height (30px*3)
							
					.bottom 				
						.left 
							width 65%
							
							span
								font-size 15px
								line-height normal
								
						.right 
							width 35%

							button 
								.button_wrapper
									border-radius(6px)
									padding 10px 20px
									border-width 3px
									
									a
										span
											font-size 15px
							
						