/* ==========================================================================
   -- Footer | 680px
   ========================================================================== */
   
footer.root
	height 78px
	padding 0 20px
	
	.social
		height 100%
		
		a 
			i
				line-height 78px
				font-size 32px
				
		a:nth-of-type(1) 
			i
				margin-right 10px
				
	.copyright 
		height 100%
		float right
		
		span
			line-height 78px
			font-size 20px