/* ==========================================================================
   -- Header | 680px
   ========================================================================== */

body
	background-color white

	.preeload
		h2
			font-size 7.2vw

	#app
		.template
			padding-bottom 78px

			#mail_status
				height 75vw

				h2
					font-size 12px
					line-height 75vw


			section
				h2
					text-align center
					margin-bottom 2vh

				p
					font-size 1.6vw
					text-align center

				.intro_global
					height 160px
					width 100%

					.text_box
						width 100vw
						height @height

						.wrapper
							width @width
							height @height

							h2
								font-size 30px
								line-height normal
								color light_blue
								margin-bottom 10px

							p
								font-size 18px
								line-height normal

							.button_wrapper
								home_banner_button()
								border-radius(6px)
								padding 10px 20px
								border-width 2px

								a
									span
										font-size 18px
										line-height normal
										margin-right 10px

									i
										font-size 18px

header.root
#language_option
#collection_menu
	display none


section#home .intro_banner .bottom #banner_four ul li .text_box_wrapper .text_box .button_wrapper
.button_wrapper
	transitions(all .25s)
	border-radius(6px)
	background-color blue
	border-bottom 3px solid light_blue
	padding 10px 34px
	display table
	margin auto
	cursor pointer
	margin-top 30px

	a
		margin 0
		padding 0

		span
			font-size 18px
			font-family fontOne
			color white
			display inline
			margin-right 10px
		i
			color light_blue
			display inline
			font-size 20px
