/* ==========================================================================
   -- institucional | 680px
   ========================================================================== */

body
	#app
		.template
			section#institucional
				.intro_global
					.text_box
						.wrapper
							p
								display none
								
				.content
					padding 30px 20px

					.left
					.right
						width 100%
						float left
						padding 0
						
						h3
							font-size 20px
							line-height normal
							margin-bottom 20px
							
						p
							float left
							font-size 15px
							line-height normal
							
						.logo_wrapper
							display none