/* ==========================================================================
   -- Onde Comprar | 680px
   ========================================================================== */

body
	#app
		.template
			section#onde_comprar
				.intro
					display none
					
				.loja_online 
					.content 
						padding 30px 0

						h3
							font-size 20px
							line-height normal
							margin-bottom 10px
							padding 0 5vw
							
						p
							font-size 15px
							line-height normal
							margin-bottom 20px
							padding 0 5vw
							
						ul 
							li
								width 43.5vw
								height 20vw
								margin 0
								margin-bottom 2.5vw
								
								a
									width @width
									height @height
								
							li:nth-of-type(odd)
								margin-right 1.25vw
								margin-left 5vw
								
							li:nth-of-type(even)
								margin-left 1.25vw
								margin-right 5vw
								