/* ==========================================================================
   -- Tecnology | 680px
   ========================================================================== */

body 
	#app 
		.template 
			section#tecnologia 
				.content 
					padding 30px 20px

					p
						font-size 15px
						line-height normal
						margin-bottom 40px
				
					ul.tec_list > li
						width 100%
						float left
						margin-bottom 40px
						
						.image_wrapper
							width 140px	
							height 67px
							margin-bottom 30px
							
						h3
							font-size 20px
							line-height normal
							
						ul 
							li 
								span
									font-size 15px
									line-height normal
									
								i
									font-size 6px
									line-height 17px

					ul.tec_list > li:nth-of-type(odd)
						padding 0
						float left
						
					ul.tec_list > li:nth-of-type(even)
						padding 0
						float left