/* ============================
   Colors
   ============================ */

	//blue
	light_blue = #b3d3ec
	blue = #1574b8
	medium_blue = #0c598f
	dark_blue = #0c406a
	darker_blue = #04182d
	
	//green
	green = #0f9168
	light_green = #8fc6a9
	
	//gray
	gray = #2f3235
	light_gray = #777777
	lighter_gray = #d8d8d8
	
	//black
	black = #393939